/******** To top button ********/
.scrollToTopBtn {
  background-color: #585858;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  line-height: 40px;
  width: 50px;
  
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .4s ease
}
    
.showBtn {
  opacity: 75%;
  transform: translateY(0)
}

.scrollToTopBtn:hover {
    background-color: #ffffff;
    color: #221f1f;
}
/******** End of To top button ********/

body {
  background-color: #221f1f;
  color: white;
  font-size: 16px;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

/************************ HEADER ************************/
/******** Navbar ********/
h1 {
  margin: 25px 0px 0px 50px;
  color: #221f1f;
  font-weight: bold;
}

.navbar{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
  min-height:0;
}

#img-logo {
  height: 100px;
  width: 100px;
}

#item {
  padding-top: 12px;
}

.navbar-nav .nav-link {
  color: #221f1f;
  font-weight: bold;
  border-radius: 15px;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
  color: white;
  background-color: #221f1f;
  border-radius: 15px;
}

#navbarSupportedContent .active {
  font-size: 1.15em;
  margin-top: -2px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-width: 5px;
  border-color: #221f1f;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler:hover {
  background-color: #ffffff;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.10rem;
}
/******** End of Navbar ********/


/******** Carousel ********/
.carousel-control-prev, .carousel-control-next {
  opacity: 20%;
  background-color: #000000;
  width: 80px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 60%;
}


/*#carousel {
  margin-top: 126px;
}*/
/******** End ofCarousel ********/


/******** Menu de la semana ********/
#main-content {
  margin-top: 50px;
}

#entregas {
  font-size: 20px;
  background-color: #585858;
  border-radius: 15px;
  width: 60%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 3rem;
  color: #ffc916;
  font-family: 'Dancing Script', cursive;
}

h3 {
  padding-top: 10px;
  text-align: center;
  color: #ffc916;
  font-family: 'Dancing Script', cursive;
  font-size: 1.9rem;
}

.row #columna1 {
  padding-top: 20px;
  width: 24%;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-shadow: 10px;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}

.row #columna1:hover, .round:hover {
  box-shadow: 0 0px 5px 1px #ffffff;
}

#descripcion {
  text-align: justify;
}

#precio {
  font-size: 28px;
  font-weight: bold;
  bottom: 38px;
}

#colones {
  font-size: 15px;
}

#priceTag {
  position: relative;
  right: 15px;
}

.round {
  border-radius: 15px;
  box-shadow: 0 0px 5px 1px gray;
}
/******** End of Menu de la semana ********/


/******** Platillos ********/
#prueba {
  -webkit-transition: 2s smooth;
}

#platillos {
  margin-top: 50px;
  margin-bottom: -50px;
}

#fotoPlatillos {
  border-radius: 15px;
  box-shadow: 0 0px 5px 2px lightgray;
}

#fotoPlatillos:hover {
  box-shadow: 0px 0px 5px 3px white;
}

#platillos a {
  text-decoration: none;
}

#platillosLink span {
  color: white;
  float: left;
  position: relative;
  bottom: 11.4%;
  width: 100%;
  background-color: #4a4a4a;
  text-align: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 1.4rem;
  font-weight: bold;
}
/******** End of Platillos ********/



/******** Footer ********/
footer {
  margin-top: 30px;
  background-color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.row div {
  margin-top: 10px;
}

#footerItem1 {
  text-decoration: none;
  color: #221f1f;
}

#footerItem1:hover {
  font-weight: bold;
}

#itemFooter {
  margin-top: 5px;
  color: #221f1f;
}

.caca {
  text-indent: 30px;
}
/******** End of Footer ********/


/************************ MEDIA QUERY /************************
/********** Xtra-Large devices **********/
@media (min-width: 1400px) {
  .row #platillos {
     width: 30%;
  }

  #platillosLink span {
    bottom: 8%;
  }
}


/********** Large devices **********/
@media (min-width: 1200px) and (max-width: 1399px) {
  .row #columna1 {
    width: 23%;
  }

  .row #platillos {
     width: 35%;
  }

  #platillosLink span {
    bottom: 8%;
  }
}

/********** Medium devices **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .row #columna1 {
      width: 47%;
  }

  #descripcion {
    font-size: 16px;
  }

  .row #platillos {
     width: 35%;
  }

  #platillosLink span {
    bottom: 9.5%;
  }

  #entregas {
    font-size: 20px;
    width: 70%;
  }
}

/********** Small devices **********/
@media (min-width: 768px) and (max-width: 991px) {

  .carousel-control-prev, .carousel-control-next {
    width: 50px;
  }

  #descripcion {
    font-size: 14.7px;
  }

  .row #columna1 {
    width: 47%;
  }

  .row #platillos {
    width: 45%;
  }

  #platillosLink span {
    bottom: 9.5%;
  }

  #entregas {
    font-size: 18px;
    width: 80%;
  }
}

/********** Xtra-small devices **********/
@media (max-width: 767px) {
  .carousel-control-prev, .carousel-control-next {
    width: 40px;
  }

  #descripcion {
    font-size: 16px;
  }

  .row #columna1 {
    width: 90%;
  }

  .row #platillos {
    width: 60%;
  }

  #platillosLink span {
    bottom: 9.5%;
  }

  #entregas {
    font-size: 18px;
    width: 90%;
  }
}


/********** Xtra-Xtra-small devices **********/
@media (max-width: 575px) {
  

  h1 {
    margin-top: 15px;
  }

  h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 35px;
  }

  .row #platillos {
    width: 60%;
  }

  #platillosLink span {
    bottom: 14%;
  }

  #platillos {
    margin-bottom: -20px;
  }

  #entregas {
    font-size: 16px;
    width: 70%;
  }
}